<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/assets/styles/error-page.css" rel="stylesheet">
    <meta content="Pagina di errore di Savoreco" name="description">
    <meta content="Cibo, Ecologico, Saporito" name="keywords">
    <meta content="Savoreco" name="author">
    <link href="/assets/icons/favicon-48x48.ico" rel="icon" sizes="48x48" type="image/png">
    <link href="/assets/icons/favicon-192x192.ico" rel="icon">
    <title>Savoreco - Errore</title>
</head>

<body>

<main class="center-page">
    <div class="center-content">
        <img alt="Logo di Savoreco" src="/assets/images/savoreco-logo.svg">
    </div>
    <div>
        <h1 class="center">
            Siamo spiacenti si è verificato un errore!
        </h1>
    </div>
    <div class="center-content">
        <a href="/index.jsp">
            <button class="big">Torna alla Home Page</button>
        </a>
    </div>
</main>

</body>
</html>