<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/error-page.css">
    <title>Savoreco - Errore</title>
</head>
<body>
    <h1>
        Siamo spiacenti si è verificato un errore
    </h1>

    <div class="centerContent">
        <img src="/assets/images/repository-savoreco.webp" alt="Logo di Savoreco">
    </div>

    <div class="centerButton">
        <a href="/index.jsp" class="center">
            <button type="submit">Torna alla Home</button>
        </a>
    </div>
</body>
</html>