@import "global.css";

input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    padding: 2%;
    line-height: 1.8em;
    color: var(--md-sys-color-on-background);
    vertical-align: middle;
    background-color: var(--md-sys-color-on-primary);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1% solid var(--md-sys-color-primary);
    border-radius: 0.4em;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 0 inset;
    :focus{
        border-color: var(--md-sys-color-secondary-fixed-dim);;
        outline: none;
        box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
    }
    width: 65%;
    min-width: 65%;
    max-width: 75%;
    margin-bottom: 1em;
}

div.center, div.centerLogin {
    border-radius: 1.1rem;
    border: 0.1rem solid var(--md-sys-color-secondary);
    padding: 1vw;
    box-shadow: 0 0.2em 4em 0.4em rgba(0, 0, 0, 0.25);
    margin-top: 5vh;
    width: 38vw;
    min-width: 38vw;
    margin-left: 29vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 29vw;
    background-color: var(--md-sys-color-surface);
}

div.centerLogin {
    margin-top: 15vh;
}

label,input, span.form{
    color: var(--md-sys-color-on-background);
    display: flex;
    flex-direction: column;
    margin: auto auto 0.2em;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 1.1em;
}




input {
    margin-bottom: 1em;
}

input[type="radio"] {
    accent-color: var(--md-sys-color-primary);
    margin: auto auto 0.2em;
}


form {
    margin: auto;
    min-width: 35vw;
    width: 40vw;
}

p {
  text-align: center;
}

button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto auto;
    min-height: 1.3em;
    height: 1.5em;
    font-size: 1.2em;
    color: var(--md-sys-color-on-primary);
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

img.accessLogo {
    position: absolute;
    left: 2vw;
    width: 10em;
    height: auto;
    top: 2em;
}

h1 {
    font-size: 1.4rem;
    text-align: center;
    color: var(--md-sys-color-primary);
}

#seller {
    margin-bottom: 0.8em;
}

a {
    color: var(--md-sys-color-on-primary-fixed-variant);
}

a:hover {
    color: var(--md-sys-color-secondary-fixed-dim);
}

.alert {
    z-index: 1;
    top: 2em;
    position: absolute;
    visibility: hidden;
    right: 5vw;
    margin-left: 70vw;
    min-width: 15vw;
    margin-top: 1vh;
    margin-right: 5vw;
    padding: 20px;
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
}

.closebtn {
    margin-left: 5%;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

p.policy {
    font-size: 0.8em;
}

@media screen and (max-width: 600px){

    div.center, div.centerLogin {
        min-width: 74vw;
        margin-left: 12vw;
        margin-right: 12vw;
    }

    form {
        min-width: 70vw;
    }

    button {
        height: 1.8em;
    }

    img.accessLogo {
        width: 2em;
    }
}