@import "access.css";

input.radar-autocomplete-input {
    width: 100%;
    margin: auto;
}

#autocomplete {
    padding-bottom: 0;
}

input[type="file"]::file-selector-button {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border: none;
    padding: 0.5em 2%;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #004d00; /* Darker green background on hover */
}

textarea {
    padding: 2%;
    line-height: 1.8em;
    color: var(--md-sys-color-on-background);
    vertical-align: middle;
    background-color: var(--md-sys-color-on-primary);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1% solid var(--md-sys-color-primary);
    border-radius: 0.4em;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 0 inset;

    :focus {
        border-color: var(--md-sys-color-secondary-fixed-dim);;
        outline: none;
        box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
    }

    width: 65%;
    min-width: 65%;
    max-width: 75%;
    margin: auto auto 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}