@import "global.css";


div.empty {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--md-sys-color-on-background);
    text-align: center;
    max-height: 50vh;
    max-width: 100vw;
}

main div {
    width: 100%;
    margin: 0;
}


.rightCost h1 {
    margin: auto auto 1.5em;
}

.rightCost h2 {
    font-size: 1.0em;
}

#container {
    margin-left: 60%;
!important;
    max-width: 25%;
!important;
    max-height: 25%;
!important;
}


.rightCost {
    float: right;
    margin-left: auto;
    min-width: auto;
}

.rightCost h2 {
    margin: auto;
}

main img {
    min-width: 15vw;
    max-width: 20vw;
    height: auto;
}

main {
    width: 80%;
    margin: 5vh auto auto;
    border-radius: 1em;
    background-color: var(--md-sys-color-surface-variant);
    padding: 6%;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
}

form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
}

button {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-background);
    padding: 0.8em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2em;
    margin-left: 50%;
}


h1.orderTitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}


button:hover {
    background-color: var(--md-sys-color-tertiary);
}


li {
    list-style-type: none;
    min-width: 100%;
    padding: 0;
}

div h1 {
    width: 100%;
    display: inline;
}


div.empty h1 {
    font-size: 2em;
    display: inline;
}


svg.addIcon {
    clear: both;
    min-width: 1.4em;
    min-height: 2em;
    margin-left: 2%;
    transition: transform 0.3s ease-out;
    filter: invert(35%) sepia(95%) saturate(1200%) hue-rotate(88deg) brightness(90%) contrast(88%);
}

svg.addIcon:hover {
    transform: scale(1.1);
}

svg.delete {
    float: right;
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.7s ease-out;
    filter: brightness(0) saturate(100%) invert(13%) sepia(99%) saturate(7477%) hue-rotate(356deg) brightness(104%) contrast(101%);
    transform-origin: center; /* Imposta il centro dell'animazione */
}

svg.delete:hover {
    transform: scale(1.3) rotate(-360deg); /* Ruota attorno al centro */
}


h2 {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.2em;
}

ol {
    color: var(--md-sys-color-on-background);
    display: list-item;
    justify-content: left;
    list-style-type: none;
    border-bottom: 0.1em solid #ddd;
    padding: 2em 0;
}

h2, h1 {
    color: var(--md-sys-color-on-background);
}

button.empty {
    text-align: center;
    margin: auto;
}

div.summaryPayment {
    display: inline-flex;
}

div.summaryPayment h1 {
    display: inline;
    min-width: 50%;
    margin: auto auto 0.6rem;
    text-align: left;
}

div.summaryPayment h2 {
    display: inline;
    margin: auto auto 0.6rem;
    font-size: 1em;
    min-width: 50%;
    text-align: right;
}


.delivery {
    min-width: 100%;
    display: inline-block;
    text-align: right;
    justify-content: right;
}

.delivery label {
    margin-top: 0.5em;
}

.delivery input[type="radio"] {
    accent-color: var(--md-sys-color-tertiary);
    margin-top: 0.8em;
}

.delivery h2 {
    display: block;
    font-size: 0.9em;
    text-align: right;
}


@media screen and (max-width: 600px) {
    main img {
        max-width: 45vw;
    }

    .delivery h2 {
        line-height: 1.5;
        text-align: center;
        font-size: 0.7em;
    }

    #container {
        margin-left: 30%;
    }
}

@media screen and (max-width: 400px) {

    #container {
        margin-left: 20%;
    }
}