@import "global.css";

main.center-page {
    position: relative;
    margin: 1.5em 1.5em 1.5em 1.5rem;
}

div.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em 1em 1em;
    text-align: center;
}

img {
    margin: 1em;
    max-height: 75%;
    max-width: 75%;
    width: auto;
    height: auto;
}

button.big {
    font-size: clamp(16px, 1vw, 20px);
    padding: clamp(0.1em, 0.5em, 20px);
}

