@import "global.css";

main.center-page {
    position: relative;
    margin: max(1rem, 1vw);
}

div.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: max(1vw, 1rem);
    text-align: center;
}

img {
    margin: 1rem 5vw 1rem 5vw;
    max-height: 75%;
    max-width: 75%;
    height: auto;
    width: 30%;
}


