@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    @media (prefers-color-scheme: light) {
        --md-sys-color-primary: rgb(47 106 67);
        --md-sys-color-surface-tint: rgb(47 106 67);
        --md-sys-color-on-primary: rgb(255 255 255);
        --md-sys-color-primary-container: rgb(178 241 192);
        --md-sys-color-on-primary-container: rgb(0 33 13);
        --md-sys-color-secondary: rgb(130 85 19);
        --md-sys-color-on-secondary: rgb(255 255 255);
        --md-sys-color-secondary-container: rgb(255 221 184);
        --md-sys-color-on-secondary-container: rgb(43 23 0);
        --md-sys-color-tertiary: rgb(140 78 41);
        --md-sys-color-on-tertiary: rgb(255 255 255);
        --md-sys-color-tertiary-container: rgb(255 219 202);
        --md-sys-color-on-tertiary-container: rgb(51 18 0);
        --md-sys-color-error: rgb(144 74 71);
        --md-sys-color-on-error: rgb(255 255 255);
        --md-sys-color-error-container: rgb(255 218 215);
        --md-sys-color-on-error-container: rgb(59 8 10);
        --md-sys-color-background: rgb(246 251 243);
        --md-sys-color-on-background: rgb(24 29 24);
        --md-sys-color-surface: rgb(246 251 243);
        --md-sys-color-on-surface: rgb(24 29 24);
        --md-sys-color-surface-variant: rgb(221 229 219);
        --md-sys-color-on-surface-variant: rgb(65 73 65);
        --md-sys-color-outline: rgb(113 121 113);
        --md-sys-color-outline-variant: rgb(193 201 191);
        --md-sys-color-shadow: rgb(0 0 0);
        --md-sys-color-scrim: rgb(0 0 0);
        --md-sys-color-inverse-surface: rgb(45 50 45);
        --md-sys-color-inverse-on-surface: rgb(237 242 234);
        --md-sys-color-inverse-primary: rgb(151 213 165);
        --md-sys-color-primary-fixed: rgb(178 241 192);
        --md-sys-color-on-primary-fixed: rgb(0 33 13);
        --md-sys-color-primary-fixed-dim: rgb(151 213 165);
        --md-sys-color-on-primary-fixed-variant: rgb(20 81 45);
        --md-sys-color-secondary-fixed: rgb(255 221 184);
        --md-sys-color-on-secondary-fixed: rgb(43 23 0);
        --md-sys-color-secondary-fixed-dim: rgb(248 187 113);
        --md-sys-color-on-secondary-fixed-variant: rgb(101 62 0);
        --md-sys-color-tertiary-fixed: rgb(255 219 202);
        --md-sys-color-on-tertiary-fixed: rgb(51 18 0);
        --md-sys-color-tertiary-fixed-dim: rgb(255 182 142);
        --md-sys-color-on-tertiary-fixed-variant: rgb(111 56 19);
        --md-sys-color-surface-dim: rgb(215 219 212);
        --md-sys-color-surface-bright: rgb(246 251 243);
        --md-sys-color-surface-container-lowest: rgb(255 255 255);
        --md-sys-color-surface-container-low: rgb(240 245 237);
        --md-sys-color-surface-container: rgb(235 239 232);
        --md-sys-color-surface-container-high: rgb(229 234 226);
        --md-sys-color-surface-container-highest: rgb(223 228 220);
    }
    @media (prefers-color-scheme: dark) {
        --md-sys-color-primary: rgb(151 213 165);
        --md-sys-color-surface-tint: rgb(151 213 165);
        --md-sys-color-on-primary: rgb(0 57 27);
        --md-sys-color-primary-container: rgb(20 81 45);
        --md-sys-color-on-primary-container: rgb(178 241 192);
        --md-sys-color-secondary: rgb(248 187 113);
        --md-sys-color-on-secondary: rgb(71 42 0);
        --md-sys-color-secondary-container: rgb(101 62 0);
        --md-sys-color-on-secondary-container: rgb(255 221 184);
        --md-sys-color-tertiary: rgb(255 182 142);
        --md-sys-color-on-tertiary: rgb(83 34 1);
        --md-sys-color-tertiary-container: rgb(111 56 19);
        --md-sys-color-on-tertiary-container: rgb(255 219 202);
        --md-sys-color-error: rgb(255 179 175);
        --md-sys-color-on-error: rgb(87 29 28);
        --md-sys-color-error-container: rgb(115 51 49);
        --md-sys-color-on-error-container: rgb(255 218 215);
        --md-sys-color-background: rgb(16 21 16);
        --md-sys-color-on-background: rgb(223 228 220);
        --md-sys-color-surface: rgb(16 21 16);
        --md-sys-color-on-surface: rgb(223 228 220);
        --md-sys-color-surface-variant: rgb(65 73 65);
        --md-sys-color-on-surface-variant: rgb(193 201 191);
        --md-sys-color-outline: rgb(139 147 138);
        --md-sys-color-outline-variant: rgb(65 73 65);
        --md-sys-color-shadow: rgb(0 0 0);
        --md-sys-color-scrim: rgb(0 0 0);
        --md-sys-color-inverse-surface: rgb(223 228 220);
        --md-sys-color-inverse-on-surface: rgb(45 50 45);
        --md-sys-color-inverse-primary: rgb(47 106 67);
        --md-sys-color-primary-fixed: rgb(178 241 192);
        --md-sys-color-on-primary-fixed: rgb(0 33 13);
        --md-sys-color-primary-fixed-dim: rgb(151 213 165);
        --md-sys-color-on-primary-fixed-variant: rgb(20 81 45);
        --md-sys-color-secondary-fixed: rgb(255 221 184);
        --md-sys-color-on-secondary-fixed: rgb(43 23 0);
        --md-sys-color-secondary-fixed-dim: rgb(248 187 113);
        --md-sys-color-on-secondary-fixed-variant: rgb(101 62 0);
        --md-sys-color-tertiary-fixed: rgb(255 219 202);
        --md-sys-color-on-tertiary-fixed: rgb(51 18 0);
        --md-sys-color-tertiary-fixed-dim: rgb(255 182 142);
        --md-sys-color-on-tertiary-fixed-variant: rgb(111 56 19);
        --md-sys-color-surface-dim: rgb(16 21 16);
        --md-sys-color-surface-bright: rgb(53 58 53);
        --md-sys-color-surface-container-lowest: rgb(10 15 11);
        --md-sys-color-surface-container-low: rgb(24 29 24);
        --md-sys-color-surface-container: rgb(28 33 28);
        --md-sys-color-surface-container-high: rgb(38 43 38);
        --md-sys-color-surface-container-highest: rgb(49 54 49);
    }
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

body {
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-surface);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-font-smoothing: antialiased;
}

main {
    flex: 1;
}

nav {
    width: 100vw;
    list-style-type: none;
    box-shadow: 0 0 0 -0.2em rgba(0, 0, 0, 0.24);
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 5rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

nav a.siteLink {
    color: var(--md-sys-color-on-surface, black);
    text-decoration: none;
    justify-content: center;
}

span.siteLinkRight {
    margin-left: auto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    overflow: hidden;
    float: right;
    margin-right: 10vw;
}

span.siteLinkRight a {
    margin-left: 1vw;
    display: inline-block;
}

#ecoLogoText {
    color: var(--md-sys-color-primary, #2F6A43);
}

#bigTextLogo {
    color: var(--md-sys-color-on-background, black);
}

#ecoLogoText, #bigTextLogo {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

span.siteLinkRight a:hover {
    color: var(--md-sys-color-secondary-fixed-dim);
}

img.logoImage {
    float: left;
    max-height: 100%;
    height: 4em;
    width: 15vw;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 5vw;
    object-fit: scale-down;
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--md-sys-color-surface);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4em;
}

.sidenav a {
    padding: 0.4rem 0.5svw 0.4rem 2svw;
    text-decoration: none;
    font-size: 1.4em;
    color: var(--md-sys-color-on-surface);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--md-sys-color-secondary-fixed-dim);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 2rem;
    margin-left: 5%;
}


h1 {
    color: var(--md-sys-color-on-surface);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h1.center {
    text-align: center;
}

button {
    border-radius: calc(100px + 1.5625vw);
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    text-transform: uppercase;
    word-spacing: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 2px solid transparent;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}

button:hover, button:focus {
    background-color: var(--md-sys-color-secondary-container);
    transform: translateY(-3px);
    border-color: var(--md-sys-color-primary);
}

button:active {
    transform: translateY(-1px);
    background-color: var(--md-sys-color-tertiary-container);
}


button.big {
    font-size: 1.2rem;
    padding: clamp(0.2em, 1vw, calc(20px + 1.5625vw));
}

div.cardCentral {
    border-radius: calc(100px + 1.5625vw);
    box-shadow: rgba(0, 0, 0, 0.24) 0 0.1vmin 0.5rem;
    padding: 1rem 9vw;
    margin: 1rem 16vw;
    width: 50vw;
    background-color: var(--md-sys-color-secondary-container);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tooltip text */
.tooltiptext {
    display: none;
    font-size: 0.8em;
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 1em;
    width: 64%;
    min-width: 64%;
    opacity: 0.8;
    background-color: var(--md-sys-color-secondary-fixed-dim);
    color: var(--md-sys-color-on-surface);
    padding: 2%;
    border-radius: 1.1em;
}

#autocomplete {
    overflow: visible;
    z-index: 1;
    text-align: center;
    min-width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 0.6em;
    padding-bottom: 1em;
}

img.footerLogo {
    max-width: max(15%, 50px);
}

form {
    padding: 0;
    background: none;
}


footer {
    all: revert;
    background: var(--md-sys-color-secondary-container);
    display: flex;
    min-height: 50px;
    bottom: 0;
    min-width: 100vw;
    height: auto;
    margin-top: 10rem;
}

span.copyright {
    all: revert;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--md-sys-color-on-secondary-container, black);
}

p.footer {
    all: revert;
    background-color: var(--md-sys-color-secondary-container);
    min-width: 29.33%;
    margin-left: 2%;
    margin-right: 2%;
    color: var(--md-sys-color-on-secondary-container, black);
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}

footer a {
    all: revert;
    text-decoration: none;
    color: var(--md-sys-color-on-secondary-container, black);
}

footer a:hover {
    color: var(--md-sys-color-tertiary-fixed-dim);
}

span.footerTitle {
    all: revert;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

a.siteLink {
    cursor: pointer;
}

input:focus::placeholder {
    color: transparent;
}

button {
    cursor: pointer;
}

.radar-autocomplete-input {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-background);
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 1em;
    }

    .sidenav a {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 500px) {
    footer {
        display: block;
    }

    #bigTextLogo {
        margin-left: 4vw;
    }

    img.logoImage {
        display: none;
    }

    p.footer {
        margin: 1em 5% 0 5%;
    }
}

