@import "global.css";

main {
    margin: 5vw;
}

main header, article, main div {
    border: 0.2em solid var(--md-sys-color-secondary, #B2F1C0);
}

main header, article {
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

header, article, main div {
    margin-bottom: 20px;
    padding: 5vw;
    border: 1px solid var(--md-sys-color-on-background);
    border-radius: 0.4em;
    background-color: var(--md-sys-color-background);
}

header {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

main h1, main h2, main h3 {
    color: var(--md-sys-color-on-background);
}

main a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}