@import "global.css";

table {
    width: 90%;
    max-width: 80em;
    border-collapse: collapse;
    margin: 2em auto;
    white-space: nowrap;
}

td, th {
    padding: 0.75em;
    border: 1px solid;
    text-align: left;
    border-color: inherit;

}

h1 {
    margin-left: 1em;
}

th {
    color: white;
    background-color: var(--md-sys-color-on-primary-fixed-variant);
}

button {
    color: var(--md-sys-color-primary-fixed);
}

button.active-users {
    background-color: var(--md-sys-color-on-primary-fixed-variant);
}

button.deleted-users {
    background-color: var(--md-sys-color-on-tertiary-fixed-variant);
}

.active-users {
    background-color: var(--md-sys-color-primary-fixed);
}

.deleted-users {
    background-color: var(--md-sys-color-tertiary-fixed-dim);
}



@media screen and (max-width: 600px) {
    table {
        margin: 1em auto;
        white-space: normal;
    }

    .disappearSmall {
        display: none;
    }

    tbody tr {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        border: 1px solid;
    }

    td {
        display: flex;
        align-items: baseline;
        padding: 0.5em;
        border: none;
        width: 100%;
        white-space: normal;
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        width: 30%;
        text-align: right;
        margin-right: 1em;
    }

    td button {
        width: auto;
        margin: 0;
    }
}

