@import "global.css";

.purchaseBox, .foodBox {
    border-radius: 1.1rem;
    border: 0.1rem solid var(--md-sys-color-secondary);
    padding: 2vw;
    box-shadow: 0 0.2em 4em 0.4em rgba(0, 0, 0, 0.25);
    background-color: var(--md-sys-color-on-primary);
    width: calc(100% - 4rem);
    max-width: 100%;
    box-sizing: border-box;
}

.purchaseBox {
    margin: 1vh auto 4vh auto;
}

main p {
    padding-right: 1em;
}

.foodImage {
    max-height: 100%;
    object-fit: cover;
    margin-right: 1em;
    height: 10em;
    width: 10em;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.foodItem {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    width: calc(100% - 4rem);
    background-color: var(--md-sys-color-primary-container);
}

.title {
    text-align: center;
    font-size: 2em;
}

main a {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--md-sys-color-on-surface);
    transition: 0.3s;
}

main a:hover {
    color: var(--md-sys-color-secondary-fixed-dim);
}

@media (max-width: 768px) {


    .purchaseBox, .foodBox {
        padding: 4vw;
        width: calc(100% - 4rem);
        min-width: 80%;
    }

    .purchaseBox {
        margin-left: auto;
        margin-right: auto;
    }

    .foodImage {
        height: 8em;
        width: 8em;
    }

    .foodItem {
        flex-direction: column;
        width: calc(100% - 4rem);
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
    }

    main p {
        padding-right: 0;
    }
}

@media (max-width: 480px) {

    .purchaseBox, .foodBox {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 8vw;
        width: calc(100% - 4rem);
        box-shadow: none;
    }

    .foodImage {
        height: 6em;
        width: 6em;
        margin-right: 0;
        margin-bottom: 1em;
    }

    .foodItem {
        width: 100%;
        padding: 0.5rem;
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5em;
    }

    main p {
        padding-right: 0;
        width: 100%;
        text-align: center;
    }
}
