@import "global.css";

.purchaseBox {
    border-radius: 1.1rem;
    border: 0.1rem solid var(--md-sys-color-secondary);
    padding: 2vw;
    box-shadow: 0 0.2em 4em 0.4em rgba(0, 0, 0, 0.25);
    background-color: var(--md-sys-color-on-primary);
    width: calc(100% - 7vw);
    box-sizing: border-box;
}

.purchaseBox {
    margin: 1vh auto 4vh auto;
}

main p {
    padding-right: 1em;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.foodItem {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 2vw;
    margin: 3vh 0 2vh;
    display: flex;
    align-items: center;
    background-color: var(--md-sys-color-primary-container);
}

.title {
    text-align: center;
    font-size: 1.5em;
}

main a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--md-sys-color-on-surface);
    transition: 0.3s;
}

main a:hover {
    color: var(--md-sys-color-secondary-fixed-dim);
}

strong.status {
    margin-right: 0.6em;
}

@media (max-width: 768px) {


    .purchaseBox {
        padding: 4vw;
        width: calc(100% - 4rem);
        min-width: 80%;
    }

    .purchaseBox {
        margin-left: auto;
        margin-right: auto;
    }

    .foodItem {
        flex-direction: column;
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
    }

    main p {
        padding-right: 0;
    }
}

@media (max-width: 480px) {

    .purchaseBox {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 8vw;
        box-shadow: none;
    }

    .foodItem {
        padding: 0.5rem;
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5em;
    }

    main p {
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

    strong.status {
        align-self: center;
    }
}
