@import "global.css";

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75vw;
    padding-bottom: 2em;
    border-radius: 0.5em;
    margin: 5vh auto auto;
    background-color: var(--md-sys-color-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 1.2em;
    margin-top: 0.8em;
}

.formPreference label, .formPreference input {
    color: var(--md-sys-color-on-background);
    display: flex;
    flex-direction: column;
    margin: auto auto 0.6em;
    align-items: center;
    justify-content: center;
}

.formPreference {
    width: 100%;
}

form {
    background-color: var(--md-sys-color-background);
}

.formPreference input {
    line-height: 2em;
    color: var(--md-sys-color-on-background);
    vertical-align: middle;
    background-color: var(--md-sys-color-on-primary);
    border: 2px solid var(--md-sys-color-primary);
    border-radius: 0.5em;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.3) 0 2px 4px 0 inset;
    transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    width: 75%;
    padding: 0.5em;
    margin-bottom: 1em;
}

.formPreference input:focus {
    border-color: var(--md-sys-color-secondary);
}


button {
    font-size: 1.2em;
}

.alert {
    z-index: 1;
    top: 2em;
    position: absolute;
    visibility: hidden;
    right: 5vw;
    margin-left: 70vw;
    min-width: 15vw;
    margin-top: 15vh;
    margin-right: 5vw;
    padding: 20px;
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
}

.closebtn {
    margin-left: 5%;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

button {
    margin-top: 1em;
}

.point {
    text-align: left;
    min-width: 15vw;
    margin-right: 83vw;
    color: var(--md-sys-color-on-tertiary-container);
    padding: 0.8em;
}

.point h1 {
    color: var(--md-sys-color-on-tertiary-container);
    text-align: left;
    font-size: 1.5em;
}

h2 {
    color: var(--md-sys-color-on-primary-container);
    font-size: 0.9em;
}

input {
    text-align: center;
}

.wrapper {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper a {
    margin-top: 5em;
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: var(--md-sys-color-error-container);
    border-radius: calc(100px + 1.5625vw);
    text-transform: uppercase;
    color: var(--md-sys-color-on-error-container);
}

.modal {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    z-index: 2;
    border-radius: 4px;
    position: relative;
    width: 45vw;
    max-width: 90%;
    background: var(--md-sys-color-surface);
    padding: 1em 2em;
}

.modal__close {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.modal button {
    z-index: 2;
    text-align: center;
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
}

.modal button:hover {
    z-index: 2;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

.modal form {
    z-index: 2;
    background-color: transparent;
    display: flex;
    align-content: center;
    justify-content: center;
}

.radar-autocomplete-input {
    background-color: var(--md-sys-color-on-primary);
    color: var(--md-sys-color-on-background);
}

@media screen and (max-width: 600px) {
    .point {
        min-width: 98%;
        padding: 2%;
    }
}