@import "global.css";

body.confirmed {
    padding-top: 25vh;
    display: block;
    text-align: center;
}

.countdown {
    font-size: 2em;
    margin-top: 2em;
}

.checkmark, .error-mark {
    min-height: max(5vw, 50px);
    min-width: max(5vw, 50px);
    background-color: var(--md-sys-color-primary-container);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.checkmark:after, .error-mark:after {
    content: '';
    position: absolute;
    left: 28%;
    top: 20%;
    width: 25%;
    height: 50%;
    border: solid var(--md-sys-color-on-background);
    border-width: 0 8px 8px 0;
    transform: rotate(45deg);
}

.error-mark {
    background-color: var(--md-sys-color-error-container);
}
