@import "global.css";

.foodImage {
    max-height: 10em;
    max-width: 30%;
    margin-right: 2%;
    object-fit: scale-down;
}

.restaurantImage {
    max-width: 35%;
    max-height: 20em;
    margin-right: 2%;
    margin-left: 2%;
    object-fit: scale-down;
    mix-blend-mode: multiply;
    border-radius: 1em;
    padding: 1%;
    background-color: var(--md-sys-color-surface-variant);
}

div#map {
    min-width: 20%;
    min-height: 30em;
}

.restaurantBox {
    border-radius: 1.1rem;
    border: 0.1rem solid var(--md-sys-color-secondary);
    padding: 2vw;
    box-shadow: 0 min(0.2em, 1vw) min(4em, 4vw)  0.4em rgba(0, 0, 0, 0.25);
    margin-top: 5vh;
    width: 80vw;
    min-width: 38vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--md-sys-color-on-primary);
}

.restaurantInfo {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.foodBox {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 min(3px, 2%) 0.5em;
    padding: 2%;
    margin: 2vh 0;
    display: flex;
    align-items: center;
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    background-color: var(--md-sys-color-surface-variant);
}

.foodInfo {
    margin-left: 1em;
    min-width: 35%;
}

.categoryBox {
    margin-top: 2em;
}

.categoryContent {
    display: flex;
    flex-direction: column;
}

button {
    height: 7vh;
    border: none;
    min-width: 50%;
    padding: 1.5vh;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-background);
}

.tooltiptext {
    margin-left: 0;
    margin-right: 0;
}

.tooltipDiv {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


@media screen and (prefers-color-scheme: dark) {
    .restaurantImage {
        mix-blend-mode: normal;
    }
}


@media screen and (max-width: 900px) {
    .tooltipDiv {
        margin-left: auto;
        margin-right: auto;
    }

    .restaurantBox {
        width: 90vw;
    }

    .foodBox {
        flex-direction: column;
        align-items: flex-start;
    }

    .foodImage {
        max-width: 60%;
        max-height: 15em;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 650px) {
    .restaurantImage {
        max-width: 98.5%;
        padding: 1.5%;
        max-height: 15em;
    }

    .restaurantInfo {
        display: flex;
        flex-direction: column;
    }
}

.effect {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max(1vmin, 1em);
    height: max(1vmin, 1em);;
    background-color: #FF0;
    border-radius: 50%;
    animation: effect-animation 1.5s ease-in-out forwards;
    z-index: 9999;
}


@keyframes effect-animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(calc(-50%), calc(-50% - 8vh)) scale(1.5);
        opacity: 0.8;
    }
    100% {
        transform: translate(calc(-50%), calc(-50% - 18vh)) scale(0);
        opacity: 0;
    }
}
